name: ci
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v5
        with:
          key: mkdocs-materialx-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-materialx-

      - run: |
          sudo apt-get update
          sudo apt-get install -y pngquant
          pip install \
            mkdocs-materialx \
            mkdocs-git-revision-date-localized-plugin \
            mkdocs-git-committers-plugin-2

      - run: mkdocs gh-deploy --force
